<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.botno.millenariacultselection">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.IncludeCultsActivity"
            android:label="@string/app_name" />

        <provider
            android:name=".data.FactionContentProvider"
            android:authorities="com.botno.millenariacultselection.provider" />

        <activity android:name=".activities.PrioritizeCultsActivity" />
        <activity android:name=".activities.DistributeCults"></activity>
    </application>

</manifest>